<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>174024655559-d97d5ber6tplmfkdo655jnn8ta7cqi4f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.174024655559-d97d5ber6tplmfkdo655jnn8ta7cqi4f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>174024655559-kakso9c3deavujq6tpre2vm506fa3lil.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDfx94l3IReF2CTuwf0xFxNXfDcVfhiZco</string>
	<key>GCM_SENDER_ID</key>
	<string>174024655559</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bpmhealth.boostfitness</string>
	<key>PROJECT_ID</key>
	<string>boostcamp-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>boostcamp-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:174024655559:ios:bc27ded6fa75b37243f4e2</string>
</dict>
</plist>